.Content {
  margin-left: 204px;
  text-align: center;
}

.Content h1 {
  font-size: 100px;
}

.Bottom-Image img {
  width: 100%;
  height: 100%;
  margin-left: 280px;

}

div.gallery {
  margin: 5px;
  float: left;
  width: 380px;
}

div.gallery:hover {
}

div.gallery img {
  width: 100%;
  height: auto;
}
